.mypage-side
  %nav.mypage-side__nav
    %ul.mypage-side__nav__list
      %li
        = link_to user_path(current_user.id), class: 'mypage-side__nav__list--item active' do
          マイメニュー
          = icon( "fas", "angle-right")
      %li
        = link_to notification_user_url(current_user.id), class: 'mypage-side__nav__list--item' do
          お知らせ
          = icon( "fas", "angle-right")
      %li
        = link_to user_likes_path(current_user.id), class: 'mypage-side__nav__list--item' do
          いいね！一覧
          = icon( "fas", "angle-right")
      %li
        = link_to new_item_path(current_user.id), class: 'mypage-side__nav__list--item' do
          商品を出品する
          = icon( "fas", "angle-right")
      %li
        = link_to in_progress_user_url(current_user.id), class: 'mypage-side__nav__list--item' do
          商品を出品する-取引中-
          = icon( "fas", "angle-right")
      %li
        = link_to completed_user_url(current_user.id), class: 'mypage-side__nav__list--item' do
          商品を出品する-売却済み-
          = icon( "fas", "angle-right")
      %li
        = link_to item_path(current_user.id), class: 'mypage-side__nav__list--item' do
          商品を購入する
          = icon( "fas", "angle-right")
      %li
        = link_to purchase_user_url(current_user.id), class: 'mypage-side__nav__list--item' do
          商品を購入する-取引中-
          = icon( "fas", "angle-right")
      %li
        = link_to purchased_user_url(current_user.id), class: 'mypage-side__nav__list--item' do
          商品を購入する-購入済み-
          = icon( "fas", "angle-right")
    %h2.mypage-side__nav__head
      FURIMAPay
    %ul.mypage-side__nav__list
      %li
        = link_to '#', class: 'mypage-side__nav__list--item' do
          残高・振込申請
          = icon( "fas", "angle-right")
      %li
        = link_to '#', class: 'mypage-side__nav__list--item' do
          ポイント
          = icon( "fas", "angle-right")
    %h2.mypage-side__nav__head
      設定
    %ul.mypage-side__nav__list
      %li
        = link_to '#', class: 'mypage-side__nav__list--item' do
          プロフィール
          = icon( "fas", "angle-right")
      %li
        = link_to '#', class: 'mypage-side__nav__list--item' do
          発送元・お届け先住所変更
          = icon( "fas", "angle-right")
      %li
        = link_to '#', class: 'mypage-side__nav__list--item' do
          支払い方法
          = icon( "fas", "angle-right")
      %li
        = link_to '#', class: 'mypage-side__nav__list--item' do
          メール/パスワード
          = icon( "fas", "angle-right")
      %li
        = link_to '#', class: 'mypage-side__nav__list--item' do
          本人情報
          = icon( "fas", "angle-right")
      %li
        = link_to '#', class: 'mypage-side__nav__list--item' do
          電話番号の確認
          = icon( "fas", "angle-right")
      %li
        = link_to log_out_user_url(current_user.id), class: 'mypage-side__nav__list--item' do
          ログアウト
          = icon( "fas", "angle-right")