.main_container
  %main.mypage-container
    .mypage-side
      %nav.mypage-side__nav
        %ul.mypage-side__nav__list
          %li
            = link_to '#', class: 'mypage-side__nav__list--item active' do
              マイメニュー
              = icon( "fas", "angle-right")
          %li
            = link_to '#', class: 'mypage-side__nav__list--item' do
              お知らせ
              = icon( "fas", "angle-right")
          %li
            = link_to '#', class: 'mypage-side__nav__list--item' do
              いいね一覧
              = icon( "fas", "angle-right")
          %li
            = link_to '#', class: 'mypage-side__nav__list--item' do
              商品を出品する
              = icon( "fas", "angle-right")
          %li
            = link_to '#', class: 'mypage-side__nav__list--item' do
              取引中の商品
              = icon( "fas", "angle-right")
          %li
            = link_to '#', class: 'mypage-side__nav__list--item' do
              出品した商品
              = icon( "fas", "angle-right")
          %li
            = link_to '#', class: 'mypage-side__nav__list--item' do
              商品を購入する
              = icon( "fas", "angle-right")
          %li
            = link_to '#', class: 'mypage-side__nav__list--item' do
              取引中の商品
              = icon( "fas", "angle-right")
          %li
            = link_to '#', class: 'mypage-side__nav__list--item' do
              購入した商品
              = icon( "fas", "angle-right")
        %h2.mypage-side__nav__head
          FURIMAPay
        %ul.mypage-side__nav__list
          %li
            = link_to '#', class: 'mypage-side__nav__list--item' do
              残高・振込申請
              = icon( "fas", "angle-right")
          %li
            = link_to '#', class: 'mypage-side__nav__list--item' do
              ポイント
              = icon( "fas", "angle-right")
        %h2.mypage-side__nav__head
          設定
        %ul.mypage-side__nav__list
          %li
            = link_to '#', class: 'mypage-side__nav__list--item' do
              プロフィール
              = icon( "fas", "angle-right")
          %li
            = link_to '#', class: 'mypage-side__nav__list--item' do
              発送元・お届け先住所変更
              = icon( "fas", "angle-right")
          %li
            = link_to '#', class: 'mypage-side__nav__list--item' do
              支払い方法
              = icon( "fas", "angle-right")
          %li
            = link_to '#', class: 'mypage-side__nav__list--item' do
              メール/パスワード
              = icon( "fas", "angle-right")
          %li
            = link_to '#', class: 'mypage-side__nav__list--item' do
              本人情報
              = icon( "fas", "angle-right")
          %li
            = link_to '#', class: 'mypage-side__nav__list--item' do
              電話番号の確認
              = icon( "fas", "angle-right")
          %li
            = link_to edit_user_path(@user), class: 'mypage-side__nav__list--item' do
              ログアウト
              = icon( "fas", "angle-right")
    .mypage-content
      .mypage-logout-content
        = link_to "ログアウト", destroy_user_session_path, method: :delete, class: "logout-btn"