.main_container
  %main.mypage-container
    .mypage-side
      %nav.mypage-side__nav
        %h2.mypage-side__nav__head
          マイメニュー
        %ul.mypage-side__nav__list
          %li
            = link_to 'お知らせ', '#', class: 'mypage-side__nav__list--item'
          %li
            = link_to 'いいね一覧', '#', class: 'mypage-side__nav__list--item'
          %li
            = link_to '商品を出品する', '#', class: 'mypage-side__nav__list--item'
          %li
            = link_to '取引中の商品', '#', class: 'mypage-side__nav__list--item'
          %li
            = link_to '出品した商品', '#', class: 'mypage-side__nav__list--item'
          %li
            = link_to '商品を購入する', '#', class: 'mypage-side__nav__list--item'
          %li
            = link_to '取引中の商品', '#', class: 'mypage-side__nav__list--item'
          %li
            = link_to '購入した商品', '#', class: 'mypage-side__nav__list--item'
        %h2.mypage-side__nav__head
          ラクマペイ
        %ul.mypage-side__nav__list
          %li
            = link_to '残高・振込申請', '#', class: 'mypage-side__nav__list--item'
          %li
            = link_to 'ポイント', '#', class: 'mypage-side__nav__list--item'
        %h2.mypage-side__nav__head
          設定
        %ul.mypage-side__nav__list
          %li
            = link_to 'プロフィール', '#', class: 'mypage-side__nav__list--item'
          %li
            = link_to '発送元・お届け先住所変更', '#', class: 'mypage-side__nav__list--item'
          %li
            = link_to '支払い方法', '#', class: 'mypage-side__nav__list--item'
          %li
            = link_to 'メール/パスワード', '#', class: 'mypage-side__nav__list--item'
          %li
            = link_to '本人情報', '#', class: 'mypage-side__nav__list--item'
          %li
            = link_to '電話番号の確認', '#', class: 'mypage-side__nav__list--item'
          %li
            = link_to 'ログアウト', '#', class: 'mypage-side__nav__list--item'
    .mypage-content
      %section.mypage-user-icon
        = link_to '#' do
          %figure
            = image_tag 'member_photo_noimage_thumb.png' , size: '60x60'
          %h2.mypage-user-icon__name group_c
          .mypage-user-icon__number
            %div
              評価
              %span
                100
            %div
              出品数
              %span
                106
      %section.mypage-tab-container
        %ul.mypage-tabs
          %li.active
            %h3
              = link_to 'お知らせ', '#', data: {toggle: 'tab'} 
          %li
            %h3
              = link_to 'やることリスト', '#', data: {toggle: 'tab'}
        .mypage-tab-content
          %ul.mypage-tab-content__item-list
            %li
              =link_to '#', data: { open: 'modal', modal: 'banner' }, class: 'mypage-tab-content__item-link' do
                .mypage-tab-content__item-body
                  .mypage-tab-content__item-text
                    %time
                      %i.icon-time <span>1日前</span>
                %i.icon-arrow-right
            %li
              =link_to '#', data: { open: 'modal', modal: 'banner' }, class: 'mypage-tab-content__item-link' do
                .mypage-tab-content__item-body
                  .mypage-tab-content__item-text
                    ページ更新しました。
                    %time
                      %i.icon-time <span>3日前</span>
                %i.icon-arrow-right
            %li
              =link_to '#', data: { open: 'modal', modal: 'banner' }, class: 'mypage-tab-content__item-link' do
                .mypage-tab-content__item-body
                  .mypage-tab-content__item-text
                    サービススタートしました。
                    %time
                      %i.icon-time <span>7日前</span>
                %i.icon-arrow-right
            %li
              =link_to '一覧を見る' ,'#', class: 'mypage-view-content'
          %ul.mypage-tab-content__item-list
            %li.mypage-tab-content__not-found
              現在、やることリストはありません

      %section.mypage-tab-container__goods
        %h2.mypage-tab-head
          購入した商品
        %ul.mypage-tabs
          %li.active
            %h3
              = link_to '取引中', '#', data: {toggle: 'tab'} 
          %li
            %h3
              = link_to '過去の取引', '#', data: {toggle: 'tab'}  
        .mypage-tab-content
          %ul.mypage-tab-content__item-list
            %li.mypage-tab-content__not-found
              取引中の商品がありません
          %ul.mypage-tab-content__item-list
            %li.mypage-tab-content__not-found
              過去に取引した商品がありません
            
        
   




