%header
  = render 'layouts/search-box'
- breadcrumb :log_out
= render "layouts/breadcrumbs"
.main_container
  %main.mypage-container
    = render 'side-bar'
    .mypage-content
      .mypage-logout-content
        = link_to "ログアウト", destroy_user_session_path, method: :delete, class: "item-btn-red"
= render 'layouts/footer'