%header
  = render 'layouts/search-box'
.main_container
  %main.mypage-container
    = render 'side-bar'
    .mypage-content
      %section.mypage-tab-container
        %ul.mypage-tabs
          %li.tab.active
            %h3
              = link_to 'お知らせ', notification_user_url
          %li.tab
            %h3
              = link_to 'やることリスト', todo_user_url
        .tab-content
          %ul#tab-notification.tab-content__item-list.tab-pane.show
            %li
              =link_to '#', data: { open: 'modal', modal: 'banner' }, class: 'tab-content__item-link' do
                .tab-content__item-link__body
                  .tab-content__item-link__body--text
                    新機能実装しました。
                  %time
                    %i.far.fa-clock <span> 1日前</span>
                = icon( "fas", "angle-right")
            %li
              =link_to '#', data: { open: 'modal', modal: 'banner' }, class: 'tab-content__item-link' do
                .tab-content__item-link__body
                  .tab-content__item-link__body--text
                    ページ更新しました。
                  %time
                    %i.far.fa-clock <span> 3日前</span>
                = icon( "fas", "angle-right")
            %li
              =link_to '#', data: { open: 'modal', modal: 'banner' }, class: 'tab-content__item-link' do
                .tab-content__item-link__body
                  .tab-content__item-link__body--text
                    サービススタートしました。
                  %time
                    %i.far.fa-clock <span> 7日前</span>
                = icon( "fas", "angle-right")
                
          %ul#tab-todo.tab-content__item-list.tab-pane
            %li.tab-content__not-found
              現在、やることリストはありません

= render 'layouts/footer'