%header
  = render 'layouts/search-box'
- breadcrumb :purchased
= render "layouts/breadcrumbs"
.main_container
  %main.mypage-container
    = render 'side-bar'
    .mypage-content
      %section.mypage-tab-container
        %h2.mypage-tab-head
          購入した商品
        %ul.mypage-tabs
          %li.tab
            %h3
              = link_to '取引中', purchase_user_url
          %li.tab.active
            %h3
              = link_to '購入済み', purchased_user_url
        .tab-content
          %ul.tab-content__item-list.tab-pane
            %li.tab-content__not-found
              取引中の商品がありません
                
          - if @buy.blank?
            %ul.tab-content__item-list.tab-pane.show
              %li.tab-content__not-found
                過去に取引した商品がありません
          - else
            - @buy.each_with_index do |item, i|
              %ul.tab-content__item-list.tab-pane.show
                =link_to "/items/#{item.id}", class: 'tab-content__item-link' do
                  %figure
                    = image_tag item.item_images[0].image.url, size: '48x48', class: 'tab-content__item-link--image'
                  .tab-content__item-link__body
                    .tab-content__item-link__body--text
                      = item.name
                    %div
                      %span.listing-item-count
                        %i.far.fa-heart 
                        %span 
                        = item.likes.length
                      %span.listing-item-count
                        %i.far.fa-comment-alt 
                        %span
                        = item.comments.length

= render 'layouts/footer'