%header
  = render 'layouts/search-box'
- breadcrumb :mypage
= render "layouts/breadcrumbs"
.main_container
  %main.mypage-container
    = render 'side-bar'
    .mypage-content
      %section.mypage-user-icon
        = link_to '#' do
          %figure
            = image_tag 'icon/member_photo_noimage_thumb.png', size: '60x60'
          %h2.mypage-user-icon__name 
            = @user.nickname
          .mypage-user-icon__number
            %div
              評価
              %span
                100
            %div
              出品数
              %span
                = @item.count
      %section.mypage-tab-container
        %ul.mypage-tabs
          %li.tab.active
            %h3 お知らせ
          %li.tab
            %h3 やることリスト
        .tab-content
          %ul#tab-notification.tab-content__item-list.tab-pane.show
            %li
              =link_to '#', data: { open: 'modal', modal: 'banner' }, class: 'tab-content__item-link' do
                .tab-content__item-link__body
                  .tab-content__item-link__body--text
                    新機能実装しました。
                  %time
                    %i.far.fa-clock <span> 1日前</span>
            %li
              =link_to '#', data: { open: 'modal', modal: 'banner' }, class: 'tab-content__item-link' do
                .tab-content__item-link__body
                  .tab-content__item-link__body--text
                    ページ更新しました。
                  %time
                    %i.far.fa-clock <span> 3日前</span>
            %li
              =link_to '#', data: { open: 'modal', modal: 'banner' }, class: 'tab-content__item-link' do
                .tab-content__item-link__body
                  .tab-content__item-link__body--text
                    サービススタートしました。
                  %time
                    %i.far.fa-clock <span> 7日前</span>
            %li.mypage-view-content
              =link_to '一覧を見る' , '#'
          %ul#tab-todo.tab-content__item-list.tab-pane
            %li.tab-content__not-found
              現在、やることリストはありません

      %section.mypage-tab-container__goods
        %h2.mypage-tab-head
          購入した商品
        %ul.mypage-tab-goods
          %li.tabs_goods.active
            %h3 取引中 
          %li.tabs_goods
            %h3 過去の取引  
        .tab-content_goods
          %ul#tab-trade.tab-content_goods__item.tab-pane_goods.show
            %li.tab-content_goods__not-found
              取引中の商品がありません
          %ul#tab-log.tab-content_goods__item.tab-pane_goods
            %li.tab-content_goods__not-found
              過去に取引した商品がありません
= render 'layouts/app-banner'
= render 'layouts/footer'
= render 'layouts/publish-btn'