%header
  = render 'layouts/search-box'
- breadcrumb :mypage
= render "layouts/breadcrumbs"
.main_container
  %main.mypage-container
    = render 'side-bar'
    .mypage-content
      %section.mypage-user-icon
        = link_to '#' do
          %figure
            = image_tag 'icon/member_photo_noimage_thumb.png', size: '60x60'
          %h2.mypage-user-icon__name 
            = @user.nickname
          .mypage-user-icon__number
            %div
              評価
              %span
                100
            %div
              出品数
              %span
                106
      %section.mypage-tab-container
        %ul.mypage-tabs
          %li.active
            %h3
              = link_to 'お知らせ', '#', data: {toggle: 'tab'} 
          %li
            %h3
              = link_to 'やることリスト', '#', data: {toggle: 'tab'}
        .mypage-tab-content
          %ul.mypage-tab-content__item-list
            %li
              =link_to '#', data: { open: 'modal', modal: 'banner' }, class: 'mypage-tab-content__item-link' do
                .mypage-tab-content__item-link__body
                  .mypage-tab-content__item-link__body--text
                    新機能実装しました。
                  %time
                    %i.far.fa-clock <span> 1日前</span>
            %li
              =link_to '#', data: { open: 'modal', modal: 'banner' }, class: 'mypage-tab-content__item-link' do
                .mypage-tab-content__item-link__body
                  .mypage-tab-content__item-link__body--text
                    ページ更新しました。
                  %time
                    %i.far.fa-clock <span> 3日前</span>
            %li
              =link_to '#', data: { open: 'modal', modal: 'banner' }, class: 'mypage-tab-content__item-link' do
                .mypage-tab-content__item-link__body
                  .mypage-tab-content__item-link__body--text
                    サービススタートしました。
                  %time
                    %i.far.fa-clock <span> 7日前</span>
            %li.mypage-view-content
              =link_to '一覧を見る' , '#'
          %ul.mypage-tab-content__item-list
            %li.mypage-tab-content__not-found
              現在、やることリストはありません

      %section.mypage-tab-container__goods
        %h2.mypage-tab-head
          購入した商品
        %ul.mypage-tabs
          %li.active
            %h3
              = link_to '取引中', '#', data: {toggle: 'tab'} 
          %li
            %h3
              = link_to '過去の取引', '#', data: {toggle: 'tab'}  
        .mypage-tab-content
          %ul.mypage-tab-content__item-left
            %li.mypage-tab-content__item-left__not-found
              取引中の商品がありません
          %ul.mypage-tab-content__item-right
            %li.mypage-tab-content__item-right__not-found
              過去に取引した商品がありません
= render 'layouts/app-banner'
= render 'layouts/footer'
= render 'layouts/publish-btn'