= render "layouts/header"

.container
  .container__top
    購入を確定しますか？
  .container__middle
    .container__middle__all
      .container__middle__all__item
        = @item.name
        ¥
        = @item.price
      %br
      %h3 支払い方法
      - if @default_card_information.blank?
        %br /
      - else
        -#以下カード情報を表示
        = "**** **** **** " + @default_card_information.last4
        - exp_month = @default_card_information.exp_month.to_s
        - exp_year = @default_card_information.exp_year.to_s.slice(2,3)
        = exp_month + " / " + exp_year
  .container__bottom
    .container__bottom__all
      %br
      = form_tag(action: :done, method: :post, class: "container__bottom__all__left-btn") do
        %button 購入する
      = link_to purchase_item_path do
        %button{type: "submit"}戻る

= render "layouts/footer"