%header
  = render "layouts/header"

.contents
  = form_with model: @item, local: true do |form|
    .contents__note
      <span>※</span>が付いたものは必須項目です。
    .item-infomation
      .images
        .images__title
          出品画像<span>※</span>
          %p 最大5枚までアップロードできます
        .images__form
          #image-box
            - if @item.persisted?
              - @item.item_images.each_with_index do |item_image, i|
                .item-image
                  .item-image__content
                    .item-image__content--icon
                      = image_tag item_image.image.url, data: { index: i }, width: "70", height: '70'
                    .item-image__edit
                      .item-image__edit--delete 削除
                - if @item.persisted?
                  = item_image.check_box :_destroy, data:{ index: item_image.index }, class: 'hidden-destroy'

              .item-num-0#image-box__container
                = form.fields_for :item_images do |f|
                  = f.file_field :image, type: 'file', name: "item[item_images_attributes][][image]", value:"", style: "display:none", id:"img-file"
                  %label{for: "img-file"}
                    = image_tag 'icon/icon_camera.png'
                      
           
            
      .name
        .name__title
          商品名<span>※</span>
        = form.text_field :name, :placeholder => '15文字以内で入力してください', :class => 'name__form', :size => '60'

      .description
        .description__title
          商品の説明<span>※</span>
        = form.text_area :description, :placeholder => '商品の詳細について200文字以内で入力してください                      （色、素材、重さ、定価、注意点など）', :class => 'description__form', :size => '60×40'

      .category
        .category__title
          カテゴリー<span>※</span>
          .category__form
            -# = form.collection_select :parent_id, @parent_categories, :id, :name, {prompt: '選択してください'}, {class: "category__form--parent"}

      .brand
        .brand__title
          ブランド
        = form.text_field :brand, :placeholder => '10文字以内で入力してください', :class => 'brand__form', :size => '60'

      .condition
        .condition__title
          商品の状態<span>※</span>
        -# = form.text_field :condition, :placeholder => '選択してください', :class => 'condition__form', :size => '60'

    .delivery
      .postage
        .postage__title
          配送料の負担<span>※</span>
        -# = form.text_field :postage, :placeholder => '選択してください', :class => 'postage__form', :size => '60'

      .prefectures
        .prefectures__title
          発送元の地域<span>※</span>
        -# = form.text_field :prefectures, :placeholder => '選択してください', :class => 'prefectures__form', :size => '60'

      .shipping_days
        .shipping_days__title
          発送までの日数<span>※</span>
        -# = form.text_field :shipping_days, :placeholder => '選択してください', :class => 'shipping_days__form', :size => '60'

    .selling
      .price
        .price__title
          販売価格（円）<span>※</span>
        = form.number_field :price, :placeholder => '数字で入力してください', :class => 'price__form', :size => '60'

      .commission
        %ul
          %li
            販売手数料（10％）
          %li
            _______
      .profits
        %ul
          %li
            販売利益
          %li
            _______

    .exhibit
      = form.submit "変更する", class: 'btn'

    .return
      = link_to 'キャンセル', item_path, class: 'return__btn'
    
= render 'layouts/footer'