.header
  = render "layouts/header"

= form_with model: @item, local:true do |form|
  .contents
    .contents__note
      <span>※</span>が付いたものは必須項目です。
    .images
      .images__title
        出品画像<span>※</span>
      .images__form
        .prev-content
        .label-content
          %label{for: "item_images_0", class: "label-box", id: "label-box--0"}
            %pre.label-box__text-visible クリックして画像を選択（最大５枚まで登録可能）
        .hidden-content
          = form.fields_for :item_images do |f|
            = f.file_field :src, class: "hidden-field", id: 'item_images_0'
            %input{class:"hidden-field", type: "file", name: "item[1][image]", id: "item_images_1" }
            %input{class:"hidden-field", type: "file", name: "item[2][image]", id: "item_images_2" }
            %input{class:"hidden-field", type: "file", name: "item[3][image]", id: "item_images_3" }
            %input{class:"hidden-field", type: "file", name: "item[4][image]", id: "item_images_4" }
                
    .name
      .name__title
        商品名<span>※</span>
      = form.text_field :name, :placeholder => '15文字以内で入力してください', :class => 'name__form', :size => '60'

    .description
      .description__title
        商品の説明<span>※</span>
      = form.text_area :description, :placeholder => '商品の詳細について200文字以内で入力してください                                        （色、素材、重さ、定価、注意点など）', :class => 'description__form', :size => '60×40'

    .category
      .category__title
        カテゴリー<span>※</span>
      .category__form
        = form.collection_select :parent_id, @parent_categories, :id, :name, {prompt: '選択してください'}, {class: "category__form--parent"}

    .brand
      .brand__title
        ブランド
      = form.text_field :brand, :placeholder => '10文字以内で入力してください', :class => 'brand__form', :size => '60'

    .condition
      .condition__title
        商品の状態<span>※</span>
      .condition__form
        = form.collection_select :condition_id, Condition.all, :id, :name, prompt: "選択してください", class: 'input'

    .postage
      .postage__title
        配送料の負担<span>※</span>
      .postage__form
        = form.collection_select :postage_id, Postage.all, :id, :name, prompt: "選択してください", class: 'input'

    .prefectures
      .prefectures__title
        発送元の地域<span>※</span>
      .prefectures__form
        = form.collection_select :prefecture_id, Prefecture.all, :id, :name, prompt: "選択してください", class: 'input'

    .preparation_period
      .preparation_period__title
        発送までの日数<span>※</span>
      .preparation_period__form
        = form.collection_select :preparation_period_id, PreparationPeriod.all, :id, :name, prompt: "選択してください", class: 'input'

    .price
      .price__title
        販売価格（円）<span>※</span>
      = form.text_field :price, :placeholder => '数字で入力（半角記号なし）', :class => 'price__form' 

    .commission
      %ul
        %li
          販売手数料（10％）
        %li
          ¥200
    .profits
      %ul
        %li
          販売利益
        %li
          ¥1800

    .exhibit
      = form.submit "出品する", :class => 'btn'

    .return
      = link_to '戻る', root_path, class: 'return__button'
    
-# - else
-#   %p.not-log-in
-#     %b.title - Attention! -</br>
-#     %b 商品を出品するには会員登録が必要です</br>
-#     %b （登録済みの方はログインをお願いします）
  
.footer
  = render 'layouts/footer'