.notifications
  - flash.each do |key, value|
    = content_tag(:div, value, class: key)
.header
  = render "layouts/header"

- if user_signed_in? 
  = form_with model: @item, local:true do |form|
    .contents
      .contents__note
        %span ※
        が付いたものは必須項目です。
      .images
        .images__title
          出品画像
          %span ※
        .images__form
          .prev-content
          .label-content
            %label{for: "item_images_0", class: "label-box", id: "label-box--0"}
              %pre.label-box__text-visible クリックして画像を選択（最大５枚まで登録可能）
          .hidden-content
            = form.fields_for :item_images do |f|
              = f.file_field :image, class: "hidden-field", id: 'item_images_0'
              %input{class:"hidden-field", type: "file", name: "item[item_images_attributes][1][image]", id: "item_images_1" }
              %input{class:"hidden-field", type: "file", name: "item[item_images_attributes][2][image]", id: "item_images_2" }
              %input{class:"hidden-field", type: "file", name: "item[item_images_attributes][3][image]", id: "item_images_3" }
              %input{class:"hidden-field", type: "file", name: "item[item_images_attributes][4][image]", id: "item_images_4" }
                  
      .name
        .name__title
          商品名
          %span ※
        = form.text_field :name, :placeholder => '15文字以内で入力してください', :class => 'name__form', :size => '60'

      .description
        .description__title
          商品の説明
          %span ※
        = form.text_area :description, :placeholder => '商品の詳細について200文字以内で入力してください                                                         （色、素材、重さ、定価、注意点など）', :class => 'description__form', :size => '60×40'

      .category
        .category__title
          カテゴリー
          %span ※
        .category__form
          = form.collection_select :parent_id, Category.where(ancestry: nil), :id, :name, {prompt: '選択してください'}, {class: "category__form--parent"}

      .brand
        .brand__title
          ブランド
        = form.text_field :brand, :placeholder => '15文字以内で入力してください', :class => 'brand__form', :size => '60'

      .condition
        .condition__title
          商品の状態
          %span ※
        .condition__form
          = form.collection_select :condition_id, Condition.all, :id, :name, prompt: "選択してください", class: 'input'

      .delivery
        .postage
          .postage__title
            配送料の負担
            %span ※
          .postage__form
            = form.collection_select :postage_id, Postage.all, :id, :name, prompt: "選択してください", class: 'input'

        .shipping_method
          .shipping_method__title
            配送方法
            %span ※
          .shipping_method__form
            = form.collection_select :shipping_method_id, ShippingMethod.all, :id, :name, prompt: "選択してください", class: 'input'

      .prefectures
        .prefectures__title
          発送元の地域
          %span ※
        .prefectures__form
          = form.collection_select :prefecture_id, Prefecture.all, :id, :name, prompt: "選択してください", class: 'input'

      .preparation_period
        .preparation_period__title
          発送までの日数
          %span ※
        .preparation_period__form
          = form.collection_select :preparation_period_id, PreparationPeriod.all, :id, :name, prompt: "選択してください", class: 'input'

      .price
        .price__title
          販売価格（円）
          %span ※
        = form.text_field :price, :placeholder => '数字で入力（半角記号なし）', :class => 'price__form' 

      .exhibit
        = form.submit "出品する", :class => 'btn'

      .return
        = link_to '戻る', root_path, class: 'return__button'

- else
  %p.not-log-in
    %b.title - Attention! -</br>
    %b 商品を出品するにはログインが必要です</br>
    %b （会員登録をしていない方は登録をお願いします）</br>
    = link_to '登録・ログインはトップページへ', root_path, class: 'return__button'
 

.footer
  = render 'layouts/footer'