%header
  = render 'layouts/search-box'
%section.item-container
  .item-name
    =  @item.name
  .item-content.clearfix
    .item-content__photo
      -if @item.buyer_id.present? 
        .sold-out-bnr
          %p.sold-out-bnr__inner SOLD
      .item-content__photo--top
        = image_tag @item.item_images[0].image.url
      .item-content__photo--bottom
        - @item.item_images.each_with_index do |image, i|
          .item-content__photo--bottom__pic
            = image_tag image.image.url, class:"mini_image", index: "#{i}"
    %table.item-content__table
      %tr
        %th
          出品者
        %td
          = @user.nickname
          .rating
            .item-user-ratings
              %i.fas.fa-smile
              %span 2
            .item-user-ratings
              %i.fas.fa-meh
              %span 2
            .item-user-ratings
              %i.fas.fa-frown
              %span 5
      %tr
        %th
          カテゴリー
        %td
          .item_category
            = link_to '#' do
              =  @category.root.name
          .item_category
            = link_to '#' do
              &gt;
              =  @category.parent.name
          .item_category
            = link_to '#' do
              &gt;
              =  @category.name
      %tr
        %th
          ブランド
        %td
          = @item.brand

      %tr
        %th
          商品の状態
        %td
          = @item.condition.name
      %tr
        %th
          配送料の負担
        %td
          = @item.postage.name
      %tr
        %th
          発送元地域
        %td
          = @item.prefecture.name

      %tr
        %th
          発送日の目安
        %td
          = @item.preparation_period.name

  .item-price 
    %span.item-price--yen
      &yen; 
      = @item.price.to_s(:delimited)
    %span.item-price--tax 
      (税込)
    %span.item-price--fee 
      送料込み

  .item-buy-btn
    - unless user_signed_in? && current_user.id == @item.seller_id
      = link_to "購入画面に進む", purchase_item_url(@item), class: "buy-btn"

  .item-description
    %p.item-description__inner
      =  @item.description
  
  .item-buttons.clearfix
    .item-buttons--left
      #item-btn
        = render partial: 'likes/like', locals: {item: @item}
      %i.far.fa-flag
        %span 不適切な内容の報告
    .item-buttons--right
      %i.fas.fa-lock
        %span あんしん・あんぜんへの取り組み

  .items_line
  - if user_signed_in? && current_user.id == @item.seller_id
    .items__box
      .items__box--btn
        %section.item-container-edit
          .listing-item-buttons
            = link_to '商品情報の編集', edit_item_path, class: 'item-btn-red'
            %p.center or
            %button#modal-open-btn.item-btn-gray この出品を削除する
            = link_to "", item_path(@item), method: :DELETE, id: 'item-delete-btn'
            #overlay
              #modalWindow
                .modal-message-box
                  %div 確認
                  %div 本当に削除しますか？
                %button#modal-close-btn キャンセル
                %button#delete-comformation-btn 削除する

.item-comments
  .item-comments__content
    .item-comments__content__form.clearfix
      - @comments.each do |comment|
        %ul.item-comments__content__form__boxs
          %li.item-comments__content__form__box
            .item-comments__content__form__box__name
              = link_to comment.user.nickname, user_path(comment.user.id)
              - if comment.user.id ==  comment.item.seller.id
                .user_display
                  出品者
            .item-comments__content__form__box__message
              = simple_format(comment.comment, {}, wrapper_tag: "div")
              .item-comments__content__form__box__message__time
                %i.far.fa-clock
                = comment.created_at.strftime("%Y/%m/%d %H:%M")

    .item-comments__content__form__text
      %p 相手のことを考え丁寧なコメントを心がけましょう。不快な言葉遣いなどは利用制限や退会処分となることがあります。
    - if current_user
      = form_with model: [@item,@comment], id: "new_comment" do |form|
        = form.text_area :comment, class: "textbox"
        = form.button "コメントする", class: "button", id: "comment_button"

.move-link.clearfix
  .move-link--prev
    = link_to "< 前の商品", "#"
  .move-link--next
    = link_to "次の商品 >", "#"

.sns-list
  %ul.sns-list__boxes
    %li
      %i.fab.fa-facebook-square
    %li
      %i.fab.fa-twitter
    %li
      %i.fab.fa-line
    %li
      %i.fab.fa-pinterest
= render 'layouts/app-banner'
= render 'layouts/footer'