%header
  = render 'layouts/search-box'
%section.item-container
  .item-name
    = @item.name
  .item-content.clearfix
    .item-content__photo
      .item-content__photo--top
        -# = image_tag @item.item_images[0].image.url (商品出品機能実装後に左記のコメントアウトに変更。メンターに相談済み)
        = image_tag 'product/product1.png' , size: "300x300"
      .item-content__photo--bottom
        - @item.item_images.each do |image|
          .item-content__photo--bottom__pic
            -# = image_tag image.image.url, class:"mini_image" (商品出品機能実装後に左記のコメントアウトに変更。メンターに相談済み)
            = image_tag 'product/product1.png', class:"mini_image"
    %table.item-content__table
      %tr
        %th
          出品者
        %td
          hoge
          .rating
            .item-user-ratings
              %i.fas.fa-smile
              %span 2
            .item-user-ratings
              %i.fas.fa-meh
              %span 2
            .item-user-ratings
              %i.fas.fa-frown
              %span 5
      %tr
        %th
          カテゴリー
        %td
          .item_category
            = link_to '#' do
              = # @category.root.name
          .item_category
            = link_to '#' do
              &gt;
              = # @category.parent.name
          .item_category
            = link_to '#' do
              &gt;
              = # @category.name
      %tr
        %th
          ブランド
        %td
       
      %tr
        %th
          商品の状態
        %td

      %tr
        %th
          配送料の負担
        %td

      %tr
        %th
          発送元地域
        %td

      %tr
        %th
          発送日の目安
        %td

  .item-price 
    %span.item-price--yen
      ="¥#{@item.price}"
    %span.item-price--tax 
      (税込)
    %span.item-price--fee 
      送料込み

  .item-buy-btn
    - unless user_signed_in? && current_user.id == @item.user_id
      = link_to "購入画面に進む", "#", class: "buy-btn"

  .item-description
    %p.item-description__inner
      = @item.description
  
  .item-buttons.clearfix
    .item-buttons--left
      %button.item-btn
        %i.far.fa-heart
        %span
          いいね!
        %span
          3
      %i.far.fa-flag
        %span 不適切な内容の報告
    .item-buttons--right
      %i.fas.fa-lock
        %span あんしん・あんぜんへの取り組み

  .items_line

  .items__box
    .items__box--btn
      - if user_signed_in? && current_user.id == @item.user_id
        .items__red
          = link_to "編集", "#"

        .items__gray
          = link_to "削除", "#"

.item-comments
  .item-comments__content
    .item-comments__content__form.clearfix
    .item-comments__content__form
      %p 相手のことを考え丁寧なコメントを心がけましょう。不快な言葉遣いなどは利用制限や退会処分となることがあります。
      %textarea.item-comments__content__form--box
      %button.submit
        %span コメントする


.move-link.clearfix
  .move-link--prev
    = link_to "< 前の商品", "#"
  .move-link--next
    = link_to "次の商品 >", "#"

.sns-list
  %ul.sns-list__boxes
    %li
      %i.fab.fa-facebook-square
    %li
      %i.fab.fa-twitter
    %li
      %i.fab.fa-line
    %li
      %i.fab.fa-pinterest
= render 'layouts/app-banner'
= render 'layouts/footer'