= render "layouts/header"

.container
  .container__top
    登録クレジットカード情報
  .container__middle
    .container__middle__all
      .container__middle__all--number
        カード番号：
        = "**** **** **** " + @default_card_information.last4
      .container__middle__all--validity
        有効期限：
        - exp_month = @default_card_information.exp_month.to_s
        - exp_year = @default_card_information.exp_year.to_s.slice(2,2)
        = exp_month + " / " + exp_year
  .container__bottom
    .container__bottom__all
      = link_to delete_cards_path(params[:item_id]), class: "container__bottom__all--delete" do
        %button 削除する
        %input{ type: "hidden", name: "card_id", value: "" }
      - if params[:item_id]
        = link_to purchase_item_path(params[:item_id]), class: "container__bottom__all--root" do
          %button 戻る
      - else
        = link_to user_path, class: "container__bottom__all--root" do
          %button 戻る
= render "layouts/footer"