.header-wrap
  .header-top
    = link_to root_path, class: 'home-btn' do
      = image_tag 'logo/logo.png'
    .search-section
      = form_with url: root_path do |f|
        = f.text_field :search, placeholder: 'キーワードから探す', class: 'search-section__input-box'
        %button{type: "submit", class:'search-section__submit-btn'}
          .serch-icon
            = image_tag 'icon/icon-search 1.png'
  .header-nav
    .header-nav__left-box
      = link_to 'カテゴリー', '#', class: 'header-nav__left-box--category'
      = link_to 'ブランド', '#', class: 'header-nav__left-box--brand'
    .header-nav__right-box
      = link_to 'ログイン', '/users/show', class: 'header-nav__right-box--login'
      = link_to '新規会員登録', users_path, class: 'header-nav__right-box--signup'